# Copy this file to .env.local
# Or rename this file to .env.local

# Resend Email Configuration
RESEND_API_KEY=re_YeLqvAoF_ALsqeK9X9cufT6jzshwDUMuv

# Gmail SMTP Configuration
GMAIL_USER=dibaa2906@gmail.com
GMAIL_PASS=ikecpvwrsobrxihl

